.sliderProgress {
  background: #eeeeee;
  height: 12px;
  border-radius: 6px;
  margin-bottom: 20px;
  color: white;
  position: relative;
  &__activeBar {
    background: #0061a7;
    height: 100%;
    border-radius: 6px 0 0 6px;
    text-align: right;
    position: relative;    
    span{
      text-align: center;
      display: inline-block;
      width: 50px;
      position: relative;
      padding-top: 4px;
    }
    &::before {
      content: "";
      width: 51px;
      height: 30px;
      background: #0061a7;
      border-radius: 20px;
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
    }
  }
}
