.containerAktivasi {
  padding-top: 150px; 
  width: 70%; 
  padding-bottom: 50px;
}

.halfWidth {
  width: 50%;
  margin-bottom: 40px;
}

.thirdWidth {
  width: 75%;
}

.fullWidth {
  width: 100%;
}

.fontTitle {
  font-family: 'Futura';
  font-size: 32px;
  text-align: center;
  line-height: 41.6px;
  color: #000000;
  margin-bottom: 16px;
}

.fontDescription {
  font-family: 'Helvetica';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}

.fontLabel {
  font-family: 'FuturaHvBt' !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 22.4px !important;
  color: #00193E !important;
}

.fontInput {
  font-family: 'FuturaBkBt' !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 17.98px !important;
  color: #00193E !important;
}

.fontError {
  line-height: 15.6px !important;
}

.colorError {
  color: #DE2925 !important;
}

.subtitleModal {
  font-family: 'FuturaHvBt';
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 8px;
}

.titleModal {
  margin-bottom: 8px;
}