.galery {
  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  &__more {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    border-radius: 8px;
    top: 0;
    h6{
        color: white;
    }
  }
}

.imgSize{
  height: 450px;
  width: 700px;
  background-size: cover;
  overflow: hidden;
}
.modalContent {
    width: 700px;
  border:none;
}
.modalBody {
    padding: 0;
}

.carouselControlPrevIcon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  width: 30px;
  height: 48px;
}
.carouselControlNextIcon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  width: 30px;
  height: 48px;
}
