.sliderProgress {
  background: #eeeeee;
  height: 12px;
  border-radius: 6px;
  margin-bottom: 20px;
  color: white;
  position: relative;
  &__activeBar {
    background: #0061a7;
    height: 100%;
    width: 20%;
    border-radius: 6px 0 0 6px;
    text-align: right;
    position: relative;
    span {
      text-align: center;
      display: inline-block;
      width: 50px;
      top: -5px;
    }
    &::before {
      content: "";
      z-index: -1;
      width: 50px;
      height: 30px;
      background: #0061a7;
      border-radius: 20px;
      transform: translateY(-50%);
      position: absolute;
      right: -1px;
      top: 50%;
    }
  }
}

.sideMenu {
  background-color: #f6faff;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  &__typeKpr {
    padding: 0px 16px;
    border-bottom: 1px solid #eeeeee;
    // @media only screen and (max-width:820px) {
    //   padding-left: 60px;
    // }
    @media only screen and (max-width:551px) {
      padding-left: 16px;
    }
  }
  &__step {
    background: #fafafa;
    //padding: 0.5px;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    ol {
      counter-reset: item;
      list-style-type: none;
      padding: 0px 20px;
      .one {
        position: relative;
        bottom: 10px;
        z-index: 1000;
      }
      li {
        position: relative;
        display: flex;
        padding: 10px 0;
        border-radius: "8px";
        .iconList {
          text-align: center;
          height: 28px;
          width: 28px;
          background: transparent;
          border: 2px solid transparent;
          border-radius: 50%;
          color: white;
          position: absolute;
          span {
            padding: 1px 0px 0px;
            font-family: "FuturaBT";
            font-weight: 700;
            font-size: 12px;
            position: absolute;
            border-radius: 50%;
            left: 4%;
            top: 59%;
            transform: translate(5%, -60%);
            content: "";
            width: 20px;
            height: 20px;
            background: #aaaaaa;
          }
          &__active {
            border: 2px solid #0061a7;
            span {
              background: #0061a7;
            }
          }
        }
        &.trackerInactive::before {
          content: "";
          width: 2px;
          height: 100%;
          left: 13px;
          top: 24px;
          position: absolute;
          border-left: 2px solid gray;
          border-radius: "8px";
        }
        &.trackerActive::before {
          content: "";
          width: 2px;
          height: 100%;
          left: 13px;
          top: 24px;
          position: absolute;
          border-left: 2px solid #0061a7;
          border-radius: "8px";
        }
        &:nth-last-child(1) {
          &::before {
            content: none;
          }
        }
        h5 {
          font-family: Futura;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0px;

          display: inline-block;
        }
        .stepActive {
          color: #0061a7;
        }
        .boxMenu {
          padding-left: 40px;
        }
        .boxMenu2 {
          padding-left: 40px;
        }
        .actived {
          color: #00193e;
        }
        .menuActive {
          width: 127px;
          color: #0061a7;
          border-radius: 6px;
          background: #e7f2ff;
          box-shadow: 0px 4px 4px rgba(0, 25, 62, 0.1);
        }
        p {
          font-family: "Futura";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          letter-spacing: 0px;
          padding: 8px 16px;
          margin-bottom: 0;
        }
      }
    }
  }
}

.cardImageUpload {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.displayImage {
  border: 1px solid #aaaaaa;
  height: 100%;
  border-radius: 8px;
  padding: 12px;
  overflow: hidden;
}
.buttonSelectImage {
  display: none;
}
// step doc
.imagePrev {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}

.imagePrevFullHeight {
  width: auto;
  height: 100%;
}

// step 3
.titleStep {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
}

.titleForm {
  font-size: 32px;
  font-family: "FuturaBT";
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  color: #000000;
}

.step_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  margin: 16px 24px;
  padding: 0;
}

.step_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  // margin: 16px 8px;
  padding: 0;
}

.step {
  border-radius: 100%;
  max-width: 40px;
  max-height: 40px;
  min-width: 30px;
  min-height: 30px;
  background-color: grey;
  border: 2px solid grey;
  border-collapse: separate;
  border-spacing: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // margin: 16px;
  color: #fff;
  position: relative;
}

.step::after {
  content: "";
  border-radius: 100%;
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border: 2px solid grey;
  background-color: none;
}

.step_active {
  border-radius: 100%;
  max-width: 40px;
  max-height: 40px;
  min-width: 30px;
  min-height: 30px;
  background-color: #0061a7;
  border: 2px solid #0061a7;
  border-collapse: separate;
  border-spacing: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // margin: 16px;
  color: #fff;
  position: relative;
}

.step_active::after {
  content: "";
  border-radius: 100%;
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border: 2px solid #0061a7;
  background-color: none;
}

.step_number {
  max-width: 100%;
  font-family: "FuturaBT";
  font-size: 12px;
  font-weight: bold;
}

.step_tracker_active {
  content: "";
  height: 2px;
  width: 100%;
  border-left: 2px solid #0061a7;
  border-radius: 8px;
  background-color: #0061a7;
}

.step_tracker {
  content: "";
  height: 2px;
  width: 100%;
  left: 13px;
  border-left: 2px solid gray;
  background-color: gray;
  border-radius: 8px;
}

.step_caption {
  width: 100%;
  font-family: "FuturaBT";
  font-weight: bold;
  color: #666;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .rightForm {
    margin-top: 15px;
    width: 85%;
    // margin: 16px;
  }
}

@media only screen and (max-width: 992px) {
  .rightForm {
    margin-top: 15px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    // margin: 16px;
  }
}

@media only screen and (max-width: 576px) {
  .step_caption {
    width: 100%;
    font-family: "FuturaBT";
    font-weight: bold;
    color: #666;
    font-size: 16px;
  }
}

@media only screen and (max-width: 386px) {
  .step_caption {
    width: 100%;
    font-family: "FuturaBT";
    font-weight: bold;
    color: #666;
    font-size: 15px;
  }
}

@media only screen and (max-width: 360px) {
  .step_caption {
    width: 100%;
    font-family: "FuturaBT";
    font-weight: bold;
    color: #666;
    font-size: 14px;
  }
}

@media only screen and (max-width: 280px) {
  .step_caption {
    width: 100%;
    font-family: "FuturaBT";
    font-weight: bold;
    color: #666;
    font-size: 10px;
  }
}
