.widget_bottom_unit {
  position: fixed;  
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 0;
  background: #FFFFFF;
  box-shadow: 0px -3px 4px rgba(0, 25, 62, 0.1);
  .info{
    h4{
      font-family: "Futura Bold";
      font-style: normal;
      font-size: 24px;
      line-height: 150%;
      /* identical to box height, or 36px */


      color: #00193E;
    }
    .lokasi{
      font-family: "Futura Bold";
      font-style: normal;
      font-size: 14px;
      line-height: 160%;
      /* or 22px */


      color: #00193E;

      opacity: 0.6;
    }
    .fasilitas{
      display: inline-flex;
      .item{
        font-family: "helvetica-regular";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 160%;
        /* or 19px */

        text-align: center;
        margin-right: 15px;

        color: #666666;
        svg{
          margin-right: 10px;
        }
      }
      

    }
  }
  
}
