.boxModal {
  width: 100%;
  height: 100%;
  background: #00193e69;
  position: fixed;
  left: 0;
  z-index: 9990;
  top: 0;
  border-radius: 8px;
  &__Modal {
    max-width: 600px;
    min-height: 576px;
    position: absolute;
    left: 50%;
    padding: 40px 60px;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: white;
    border-radius: 8px;
    position: relative;
    font-family: "Helvetica Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    color: #000000;
    @media only screen and (max-width:428px) {
      // max-width: 600px;
      top: 57%;
      width: 100%;
      height: 100%;
      padding-top: 60px;
    }
    @media only screen and (max-width:390px) {
      width: 100%;
      height: 100%;
      top: 57%;
    }
    &__Footer {
      position: absolute;
      bottom: 40px;
      left: 0px;
      padding: 0 60px;
      width: 100%;
      @media only screen and (max-width: 428px){
        position: static;
        padding: 0;
        bottom: 0;
        margin-top: 24px;
      }
      @media only screen and (max-width: 480px) {
        max-width: 100%;
        display: flex;
      }
      @media only screen and (max-width: 540px) {
        max-width: 100%;
        display: flex;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .boxModal {
    &__Modal {
      width: 100%;
      height: 100% !important;
    }
  }
}