.mapsContainer{
  overflow: "scroll";
  height: "100%";
  width: "100%";
};

.infoBox{
  width: auto;
}

.overlayInner{
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 4px 4px rgba(0, 25, 62, 0.2);
  border-radius: 31px;
  padding: 8px 12px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  color: #00193E;
}

.overlayInnerBlue{
  background-color: #00193E;
  color: #FFFFFF;
}