.blurImageParent {
  position: relative;
  height: 308px;
  width: 308px;
  //margin-left: 20px;
}

.blurImageChild {
  position: absolute;
  width: 100%;
  object-fit: cover;
  padding: 5px;
}

.blurImageChild:first-child {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.blurImageChild:last-child {
  object-fit: scale-down;
  padding: 10px;
}
