#modalKonsultasi {
  .modal-header {
    display: block;
    position: relative;
    border-bottom: none;
    padding: 64px 60px 0;
    .modal-title {
      text-align: center;
      line-height: 42px;
      font-family: "FuturaBT";
    }
    .btn-close {
      position: absolute;
      top: 32px;
      right: 32px;
    }
  }
  .modal-content {
    height: 710px;
  }
  .modal-body {
    padding: 40px 59px;
  }
  select,
  option {
  }
  .btn-submit {
    padding: 12px;
    line-height: 22px;
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 14px;
  }
  .validated {
    opacity: 1;
  }
  .invalidated {
    opacity: 0.5;
  }
  .checkbox {
    display: none;
  }
  .check-label {
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 16px;
  }
  .checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    margin-right: 15px;
  }
  .upload-label {
    font-family: "FuturaBT";
  }
  .upload-btn {
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 14px;
  }
  .upload-desc {
    font-family: "Helvetica";
    color: #000000;
    font-size: 14px;
    font-weight: 400;
  }
}
