@mixin select-arrow-custom {
  background-image: url("/images/icons/arrow-down.svg");
  background-position: calc(100% - 20px);
  background-size: 10px;
  background-color: hsla(218, 100%, 98%, 0);
  border: 2px solid hsl(0, 0%, 93%);
  border-radius: 10px;
  color: #666;
  height: 48px;
  opacity: 1;
  font-family: 'Helvetica';
  font-weight: 400;
  font-size: 14px;
}

// <select class="whatever-class" name="simulasi[jenisbunga]">
select[name="simulasi[jenisbunga]"] {
  @include select-arrow-custom;  
}

// <select class="whatever-class" name="simulasi[jenissubsidi]">
select[name="simulasi[jenissubsidi]"] {
  @include select-arrow-custom;
}

// <select class="whatever-class" name="simulasi[lamapinjaman]">
select[name="simulasi[lamapinjaman]"] {
  @include select-arrow-custom;
}

// <select class="whatever-class" name="simulasi[masakreditfix]">
select[name="simulasi[masakreditfix]"] {
  @include select-arrow-custom;
}