.selengkapnya {
  font-size: 12px;
  cursor: pointer;
}

.chevron {
  width: 28px;
  height: 28px;
}

.general_faq {
  padding-top: 25px;
}

.general_item {
  border-bottom: 1px solid #eeeeee;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  cursor: pointer;
  &:first-child {
    padding-top: 0 !important;
  }
  &:last-child {
    padding-bottom: 0 !important;
    border-bottom: none;
  }
}

.breadcrumb_wrapper {
  // top: 94px;
  // z-index: 1050;
  // @media only screen and (max-width: 768px) {
  //     top: 74px;
  // }
}

.breadcrumb {
  padding: 16px 0 1px;
  background-color: white;
}

.sticky_title {
  top: 140px;
}

.left_desktop {
  height: 100%;
}

.left_mobile {
  padding-top: 40px;
  padding-bottom: 24px;
  & > div {
    background-color: #edf4ff;
    border-radius: 8px;
    padding: 8px 16px;
    display: inline-flex;
    & > div:first-child {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: rgba(0, 97, 167, 0.1);
      margin-right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & > div:last-child {
      & > div:first-child {
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        color: #00193e;
      }
      & > div:last-child {
      }
    }
  }
}

.link_semua_topik {
  display: flex;
  align-items: center;
  &:first-child {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #0061a7;
  }
}

.link_semua_topik_icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
}

.faq_accordion_content {
  color: #666666;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: "14px";
}

.solid {
  position: relative;
  width: 105%;
  right: 24px;
  color: rgba(102, 102, 102, 0.4);
}
