.card_urutkan {
  background: #fafafa;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 15px;
  @media only screen and (max-width:428px) {
    background: #fafafa;
    border-radius: 32px 32px 0px 0px;
  }
  @media only screen and (max-width:390px) {
    background: #fafafa;
    border-radius: 32px 32px 0px 0px;
  }
  ._header {
    font-family: "FuturaBT";
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
    /* identical to box height, or 24px */

    color: #000000;
    padding: 25px 15px;
    border-bottom: 1px solid #eeeeee;

    h5 {
      font-size: 16px;
    }
  }
  ._body {
    padding: 25px 15px;
    ._title {
      font-family: "FuturaBT";
      font-weight: 700;
      font-style: normal;
      font-size: 14px;
      line-height: 150%;
      /* identical to box height, or 21px */

      margin-left: 0;
      color: #000000;
      margin-bottom: 15px;
    }

    input[type="radio"] {
      background-color: #ffffff !important;
      width: 20px;
      height: 20px;
      &:checked {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%230061A7'/%3e%3c/svg%3e");
        //border-width: 1px;
      }
    }

    label {
      margin-left: 12px;
      padding-top: 1px;
    }
  }
}

.newslater {
  background: #0061a7;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 25px 15px;
  ._icon {
    font-size: 36px;
  }
  ._title {
    font-family: "FuturaBT";
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    text-align: center;

    color: #ffffff;
  }

  .inputgroup {
    font-family: "FuturaBT";
    font-size: 14px;
    font-weight: 700;
    background-color: #0061a7;
    border: 1px solid #edf4ff;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    color: #ffffff;
    &::placeholder {
      color: #ffffff;
    }
    .formcontrol {
      background-color: #0061a7;
      border: 0px solid #fff;
      color: #ffffff;
    }
    .icon {
      color: #fff;
      background-color: #0061a7;
      border: 0px;
    }
  }
}

.inputgroup::placeholder {
  color: #ffffff;
}
