#propertyPage,
#propertyPageMap,
#propertyPageTipe {
  /* --------------------------------- FILTER --------------------------------- */
  .card_filter .card-header .section_title {
    font-family: "FuturaBT";
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
  }

  .card_filter .filter_title h5 {
    margin-bottom: 18px;
  }

  .search-icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .simpan_hasil {
    font-weight: 700;
    font-family: "Helvetica";
  }
}

#propertyPage,
#propertyPagePerumahan,
#propertyPageTipe,
#propertyPageMap,
#detailListDeveloperTab {
  .container {
    padding-left: 0;
    padding-right: 0;

    & > .row {
      margin: 0;
    }

    .filter-container {
      padding: 0;
      padding-right: 12px;
    }
    .content-container {
      padding: 0;
      padding-left: 4px;

      & > .row {
        transform: translateX(4px);
      }

      .card-item {
        padding-left: 8px;
        padding-right: 8px;
        max-width: 324px;
        transform: translateX(4px);
      }

      .card-body {
        padding: 16px 16px 0;

        .developer-name {
          min-width: 85px;
        }
      }

      .card_unit_properti {
        max-width: 308px;
        .card_img {
          .img-fluid {
            max-width: 100%;
          }
        }
      }
    }
  }
  /* ------------------------------ ITEM PROPERTY ----------------------------- */
  .card_unit_properti .card_img .kategori {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 7px 11px;
  }

  .card_unit_properti .card-body {
    .lokasi {
      font-family: "FuturaBT";
      font-weight: 700;
    }

    .title {
      font-family: "Helvetica";
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    .cicilan {
      font-family: "Helvetica";
      letter-spacing: -0.2px;

      span {
        font-family: "Helvetica";
        font-weight: 700;
      }
      .divider {
        border-right: 1px solid #666666;
        height: 12px;
        margin: 0 8px;
        display: inline-block;
        transform: translateY(2px);
      }
    }

    .developer {
      font-family: "Helvetica";
      margin-top: 8px;
      margin-bottom: 17px;

      .logo {
        border-radius: 50%;
        border: 1px solid #eeeeee;
        height: 20px;
        width: 20px;
        margin-right: 8px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        max-width: 20px;
        max-height: 20px;
        width: auto;
        height: auto;
        margin-right: 0;
        border-radius: 0;
        object-fit: cover;
      }
    }

    .price {
      font-family: "FuturaBT";
      font-weight: 700;

      .mulai {
        font-family: "Helvetica";
        font-weight: 400;
        font-size: 14px;
        color: #666666;
        @media only screen and (max-width: 767px) {
          font-size: 12px;
        }
      }
    }
  }

  /* ----------------------------- WISHLIST BUTTON ---------------------------- */
  .card_unit_properti .card_img .like {
    background-color: rgba($color: #ffffff, $alpha: 0.75);
    font-size: 14px;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;

    i::before {
      line-height: normal;
    }
  }

  .card_unit_properti .card-footer li {
    line-height: 1;
    font-family: "Helvetica";
  }

  /* ---------------------------------- TABS ---------------------------------- */
  .nav-tabs li a,
  .nav-tabs li>span {
    border-bottom: none;
    font-family: "Helvetica";
    font-size: 14px;
    font-weight: 700;
  }
  .nav-tabs li a.active,
  .nav-tabs li a:hover,
  .nav-tabs li>span.active,
  .nav-tabs li>span:hover {
    color: #0061a7;
    position: relative;
    display: inline-block;
    z-index: 0;
  }

  .nav-tabs li a.active:before,
  .nav-tabs li a:hover:before,
  .nav-tabs li>span.active:before,
  .nav-tabs li>span:hover:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0%;
    right: 0;
    bottom: -5px;
    height: 4px;
    background-color: #0061a7;
    border-radius: 8px;
    width: 100%;
  }

  /* ------------------------------- INPUT FIELD ------------------------------ */
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    box-shadow: none;
  }

  input[type="radio"] {
    transform: scale(1.4285714);
  }

  .form-check {
    margin-bottom: 16px;
    padding-left: 24px;
    display: flex;
    label {
      margin-left: 8px;
      letter-spacing: 0.05px;
    }
  }

  #filter_harga {
    span.input-group-text {
      font-size: 14px;
      font-weight: 700;
      font-family: "Helvetica";
      color: #00193e;
      padding-left: 16px;
      padding-right: 8px;
    }
    input {
      font-size: 14px;
      font-family: "Helvetica";
      color: #666666;
    }
  }

  #filter_Luas_Tanah,
  #filter_Luas_Bangunan,
  #filter_harga {
    .input-container {
      display: flex;
      align-items: center;
    }
    .input-group {
      max-width: 128px;
      height: 40px;
    }
  }
  /* --------------------------------- FOOTER --------------------------------- */
  & + div footer #footer_bottom_dekstop ul li a {
    font-weight: 700;
  }
}

/* ---------------------------- DETAIL PERUMAHAN ---------------------------- */
#propertyPagePerumahan {
  /* ------------------------------- REVIEW CARD ------------------------------ */
  .card-review {
    padding: 15px;
    background: #fafafa;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .review-icon {
    margin-right: 9.33px;
  }

  h5,
  h6 {
    font-family: "Helvetica";
    font-size: 14px;
    font-weight: 700;

    &.dark {
      color: #00193e;
    }
  }

  p {
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 8px;

    color: #666666;

    &.txt {
      font-size: 14px;
    }
  }

  .content {
    padding-top: 5px;
  }

  .lihat-review {
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 12px;

    span {
      margin-right: 0px;
      transition: all 100ms;

      &:hover {
        margin-right: 5px;
      }
    }

    img {
      width: 20px;
      height: 20px;
      padding: initial 5px;
    }
  }

  .list_area {
    margin-top: 25px;
  }
  .item_area_sekitar p {
    color: #000000;
    font-size: 14px;
    margin-left: 8px;
  }
}

/* ------------------------------- DETAIL TIPE ------------------------------ */
#propertyPageTipeDetail {
  .card_left_perumahan {
    h6 {
      font-family: "Helvetica";
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 16px;
    }
    h4 {
      font-family: "FuturaBT";
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 2px;
    }

    &_lihat {
      margin-bottom: 12px;
      a {
        font-family: "Helvetica";
        font-size: 14px;
        font-weight: 700;
      }
    }

    ul li a {
      font-family: "Helvetica";
      font-size: 14px;
      font-weight: 400;
      display: flex;

      .info_icon {
        margin-right: 12px;
      }
    }

    .company-logo {
      width: 32px;
      height: 32px;
      border: 1px solid #eeeeee;
      background: #ffffff;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 8px;

      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        margin-right: 0;
        border-radius: 0;
        object-fit: cover;
        transform: scale(2);
      }
    }
  }

  .detail_unit {
    .title_info {
      font-family: "FuturaBT";
      font-weight: 700;
      font-size: 24px;
    }

    .list_area .item_area_sekitar p {
      font-family: "Helvetica";
      font-size: 14px;
      font-weight: 400;
      margin-left: 8px;
    }

    .kavling-btn-container {
      padding-top: 8px;
      padding-bottom: 24px;

      .btn-main {
        width: 52px;
        height: 52px;
        font-family: "Helvetica";
        font-size: 14px;
        font-weight: 700;
        background-color: #edf4ff;
        color: #000000;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 59px;
      }
      & .active {
        background-color: #0061a7;
        color: #ffffff;
      }
    }
    .kavling-image {
      width: 94.7%;
      border-radius: 8px;
      overflow: hidden;
      padding: 0;
      margin: 0 16px;
    }
  }

  .list_area {
    margin-top: 25px;
  }
}

#checkbox-member:hover{
  background-color: transparent;
}

/* ------------------------------ OVERFLOW KPR ------------------------------ */

#propertyPageOverflowKPR {
  .modal-body,
  .modal-header,
  .modal-footer {
    width: 600px;
  }
  .modal-body {
    padding-left: 60px;
    padding-right: 60px;
  }
  .revamp-note-simulasi {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #666666;
    letter-spacing: -0.04px;
    padding-top: 16px;
  }

  .modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding-top: 8px;
    padding-bottom: 24px;
    .btn-main {
      font-family: "Helvetica";
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 160%;
      width: 480px;
      height: 48px;
      margin-left: 17px;
    }
  }

  #ajukanKPR {
    background-color: rgba(0, 25, 62, 0.5);

    .modal-dialog {
      position: relative;
      margin-top: 74px;
      margin-bottom: -1px;
      // width: 420px;

      .btn-close {
        position: absolute;
        top: 36.59px;
        right: 32.59px;
        background: none;
        opacity: 1;
      }

      .modal-header {
        padding-top: 32px;
        display: flex;
        justify-content: center;
        border: none;
        h5 {
          font-family: "FuturaBT";
          font-weight: bold;
          font-size: 32px;
          line-height: 130%;
          color: #000000;
        }
      }

      .modal-body {
        .form-group {
          margin-bottom: 16px;
          width: 368px;
          margin-left: -28px;
        }
        .form-group label {
          font-family: "FuturaBT";
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 130%;
          color: #00193e;
        }

        .input-group {
          position: relative;

          span.prefix-label {
            font-family: "Helvetica";
            position: absolute;
            z-index: 99;
            font-weight: bold;
            top: 12px;
            left: 16px;
            color: #00193e;
          }
          span.postfix-label {
            position: absolute;
            z-index: 99;
            font-weight: bold;
            top: 13px;
            right: 16px;
            color: #888888;
          }
          .form-control {
            padding-left: 40px;
          }
        }

        .uang-muka {
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        .uang-muka-persen {
          position: relative;
          max-width: 110px;
          bottom: 14px;
          padding-left: 16px !important;
          padding-right: 54px !important;
          text-align: center;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        .media-body {
          .list-item-title {
            margin-bottom: 4px;
          }

          .list-item-subtitle {
            font-family: "Helvetica";
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 160%;
          }
          .KprSyariahMulai,
          .KprKonvensionalMulai {
            margin-bottom: 4px;
          }
          .KprKonvensionalSukuBunga,
          .KprSyariahSukuBunga {
            margin-bottom: 8px;
          }

          a {
            font-family: "Helvetica";
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 160%;
            color: #0061a7;
          }
        }

        .list-radio-vertical .list-item {
          margin-bottom: 18px;
        }

        input,
        select {
          font-family: "Helvetica";
          font-size: 14px;
          height: 48px;
          border-radius: 8px;
          color: #00193e;
        }

        select {
          width: 240px;
        }
      }
    }
  }
}

.saveBackdrop {
  background-color: #00193e;
}

.saveDialog {
  @media only screen and (max-width: 768px) {
    width: calc(100% - 40px);
    margin: 20px;
  }
  .modal-content {
    border-radius: 8px;
  }
  .modal-header {
    display: block;
    padding: 70px 0 40px;
    position: relative;
    border: none;
    @media only screen and (max-width: 768px) {
      padding: 60px 0 16px;
    }
    .modal-title {
      text-align: center;
      line-height: 130%;
      font-family: FuturaPT;
      font-weight: 600;
      font-size: 32px;
      @media only screen and (max-width: 768px) {
        font-size: 24px;
      }
    }
    .close {
      position: absolute;
      top: 30px;
      right: 30px;
      @media only screen and (max-width: 768px) {
        top: 20px;
        right: 20px;
      }
      button {
        font-size: 16px;
        color: #0061a7;
        background-color: transparent;
        border: none;
        padding: 0;
      }
    }
  }
  .modal-body {
    padding: 0 60px 120px 60px;
    @media only screen and (max-width: 768px) {
      padding: 0 20px 120px 20px;
    }
    h6 {
      font-weight: 600;
      font-size: 14px;
      line-height: 130%;
      color: #00193e;
      margin-bottom: 6px;
      font-family: FuturaPT;
    }
    .form-control {
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: #aaaaaa;
      padding: 16px;
      border: 1px solid #aaaaaa;
      border-radius: 8px;
      margin-bottom: 46px;
      @media only screen and (max-width: 768px) {
        margin-bottom: 28px;
      }
      &::placeholder {
        color: #aaaaaa;
      }
    }
    button {
      background: #0061a7;
      border-radius: 100px;
      padding: 13px;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      line-height: 160%;
      color: #ffffff;
    }
  }
}

@media only screen and (max-width: 576px) {
  #propertyPageOverflowKPR .modal-body {
    padding-left: 16px !important;
  }

  #propertyPageOverflowKPR {
    #ajukanKPR {
      .modal-dialog {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
 
}
