#SejarahSlide {
  .slick-list {
    overflow: visible;
  }

  img {
    max-width: 250px;
    @media only screen and (max-width: 576px) {
      max-width: 50%;
    }
  }

  .item {
    line-height: 106px;
    font-size: 80px;
    font-family: "FuturaBT";
    font-weight: 700;
    margin-top: auto;
    color: #0061a7;
    opacity: 0.1;
    margin-bottom: 16px;
    @media only screen and (max-width: 576px) {
      line-height: 12px;
      font-size: 36px;
      margin-top: 8px;
    }
  }

  .deskripsi {
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 150%;
    color: #00193e;
  }

  .judul {
    font-size: 24px;
    font-family: "FuturaBT";
    font-weight: 700;
    line-height: 150%;
    color: #0061a7;
    @media only screen and (max-width: 576px) {
      font-size: 20px;
    }
  }

  .content {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    padding-right: 80px;
    @media only screen and (max-width: 576px) {
      gap: 20px;
      padding-right: 20px;
    }
  }
}
